* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #181719;
  color: #FFFFFF;
}

.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}

.title span {
  font-family: 'Crimson Pro', serif, ui-system;
  font-weight: 200;
  font-size: 1.4rem;
  border: 1px solid #FFFFFF;
  padding: .8rem;
  text-transform: uppercase;
}

.menu li{
  display: inline-block;
  margin-left: 80px;
}

.menu a {
  font-family: 'Montserrat', sans-serif, ui-system;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
  padding-bottom: 5px;
}

.menu a:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background: #FFFFFF;
  left: 0;
  bottom: 0;
  transition: all .5s;
}

.menu a:hover:before {
  width: 100%;
  left: 100;
}

.menu .active {
  font-weight: 700;
}

.menu .active:before {
  width: 100%;
  left: 100;
}

main {
  display: grid;
  grid-template-columns: 40% 60%;
  max-width: 1280px;
  margin: 90px auto 0;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-title {
  font-family: 'Lora', serif, ui-system;
  font-weight: 500;
  font-size: 4.8rem;
  margin: 4rem 0;
}

.description-details {
  font-family: 'Montserrat', sans-serif, ui-system;
  font-weight: 400;
  font-size: 2.4rem;
  margin: 0 0 4rem;
}

.container-button {
  display: flex;
}

.description-more {
  font-family: 'Montserrat', sans-serif, ui-system;
  font-weight: 700;
  font-size: 1.8rem;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

.description-more:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background: #FFFFFF;
  left: 0;
  bottom: 0;
  transition: all .5s;
}

.description-more:hover:before {
  width: 100%;
  left: 100;
}

.right-content {
  position: relative;
}

.image-right {
  margin: 1rem 2rem;
}

.image-right img {
  max-width: 100%;
}

.card {
  position: absolute;
  background-color: #181719;
  bottom: 0;
  left: 50%;
  transform: translate(-20%, 50%);
  width: 50%;
  max-width: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-container {
  max-width: 85%;
  margin: 0 auto;
}

.person-image {
  margin: 1rem 2rem 1rem 0;
}

.person-image img {
  border-radius: 37px;
  width: 50px;
}

.person {
  display: flex;
  align-items: center;
}

.person-name {
  font-family: 'Montserrat', sans-serif, ui-system;
  font-weight: 500;
  font-size: 1.4rem;
  margin: 0 0 .7rem;
}

.person-job {
  font-family: 'Montserrat', sans-serif, ui-system;
  font-weight: 500;
  font-size: 1.2rem;
  color: #828282;
}

.card-text {
  font-family: 'Lora', serif, ui-system;
  font-weight: 700;
  font-size: 2.4rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  font-family: 'Montserrat', sans-serif, ui-system;
  font-weight: 500;
  font-size: 14px;
  color: #A9A9A9;
  margin-top: 21rem;
}

footer a {
  font-family: 'Montserrat', sans-serif, ui-system;
  font-weight: 600;
  font-size: 14px;
  color: #A9A9A9;
  text-decoration: none;
}

@media (max-width: 1080px) {
  .menu li {
    margin-left: 60px;
  }
  .description-title {
    font-size: 4.2rem;
  }
  .description-details {
    font-size: 2rem;
  }
  .image-right {
    margin: 1rem 0 1rem 3rem;
  }
  .card-text {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  main {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .description {
    margin-bottom: 5rem;
  }
  .description-title {
    margin: 3.5rem 0 3rem;
  }
  .description-details {
    max-width: 60%;
  }
  .image-right {
    margin: 0;
  }
  .card {
    transform: translate(-50%, 50%);
  }
  footer {
    margin-top: 18rem;
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  .description-title {
    margin: 3.5rem 0 2.5rem;
    font-size: 4rem;
  }
  .description-details {
    font-size: 1.8rem;
  }
  .description-more {
    font-size: 1.6rem;
  }
}